
      %br
      %hr{ :width => '80%'}
      .copyright
        Powered by 
        %a{ :href => '/sinatra'} Sinatra
        + 
        %a{ :href => '/twitter'} Twitter
        (
        %a{ :href => "http://github.com/mdw/tweetfindr/tree/master", :title => "see the source code"} the source
        )
        %a{ :href => "http://twitter.com/tweetfindr", :title => "follow me on twitter"} follow me
