%html
  %head
    %title= "Tweetfindr :: How to search for #tags or @users"
    %link{:rel => 'stylesheet', :href => 'findr.css', :type => 'text/css'}
  %body
    / this view powered by HAML
    #sysmessage{ :align => 'center'}= "#{@sysmessage}"
    %center
      %a{:href => '/', :title => 'Powered by Sinatra and Twitter'}
        %img.mainpic{:src => '/hat.gif', :border => '0'}<
      %h1= "search Twitter for #tags or @users"
      %hr{:width => '80%'}
      %br
      To search for 
      %span.yellow #sinatra
      , just put "sinatra" at the end of this url like so: 
      %a{:href => '/sinatra'} http://tweetfindr.com/sinatra
      %br
      %br
      To search for a user like 
      %span.yellow @algore
      , put "@algore" at the end: 
      %a{:href => '/@algore'} http://tweetfindr.com/@algore
      %br

      %br
      %hr{ :width => '80%'}
      .copyright
        Powered by 
        %a{ :href => '/sinatra'} Sinatra
        + 
        %a{ :href => '/twitter'} Twitter
        (
        %a{ :href => "http://github.com/mdw/tweetfindr/tree/master"} the source
        )
        %a{ :href => "http://twitter.com/tweetfindr", :title => "follow me on twitter"} follow me
