%html
  %head
    %title= PageTitle + '#tags or @users'
    %link{:rel => 'stylesheet', :href => 'vend.css', :type => 'text/css'}
  %body
    %center
      %img{:src => Hat, :title => Credits, :class => 'mainpic'}
      %h1= "twitter search for #tags or @users"
      %hr{:width => '80%'}
      %br
      To search for 
      %span{ :class => 'yellow'} #foo
      , just put "foo" at the end of this url like so: 
      %a{:href => '/foo'} http://pizzavendingmachines.com/foo
      %br
      %br
      To search for a user like 
      %span{:class => 'yellow'} @bocanames,
      put "@bocanames" at the end: 
      %a{:href => '/@bocanames'} http://pizzavendingmachines.com/@bocanames
      %br
      %hr{:width => '80%'}
      %br
      %small= Credits 

