.twit {
  margin: 3px 0 4px 0;
  padding: 2px 10px;
  width: 770px;
}
.mainpic { margin-top: 21px; }
.avatar { 
  border: 1px solid black;
  float:left;
  margin-right: 10px;
  width: 48px;
}
 
.yellow { background-color: #ff6; }
.lightgray { color:#dddddd; margin-top:-5px; font-size:0.9em; }
.tweetclient { color:#969696; }

div#top10, div#last10 { 
	margin: 20px 20px 16px 0; 
	padding: 3px;
}
div#top10 table th { background-color:#e3e3e3; }
div#top10 table tr td { padding-left:3px; }
div#last10 table th { background-color:#e3e3e3; }

div.copyright {
  font-size: 10px;
  margin-bottom: 20px;
}
 
/* various link styles */
a { text-decoration: none; }
.link { color: #33c; }
.people { color: #093; }
.hash { color: #c33; }
a:hover, .link:hover, .people:hover, .hash:hover {
  text-decoration: underline;
}

